/* <!-- Import --> */
@import url("photographerPage.css");
@import url("homePage.css");

/* <!-- General --> */
:root {
  --main-color: #901c1c;
  --secondary-color: #d3573c;
  --hover-color: #db8876;
  --light-text-color: #757575;
  --dark-text-color: #525252;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

/* <!-- Header --> */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 44px 100px 110px;
}

header h1 {
  color: var(--main-color);
}

.logo {
  height: 50px;
  width: 200px;
}

.photographer_header {
  margin: 43px 0 40px 100px;
}
